In [1]:
import pandas as pd

In [2]:
df2=pd.DataFrame({"names":['vineet','hisham','raj','ajeet','sujit','ramesh','priya','priyanka','suresh','ritesh','hitesh','jatin','chitesh','suman','raman','aman','ravi','shravi','chavvi','himanshu'],"rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})
df3=pd.DataFrame({"results":['fail','fail','pass','pass','fail','pass','fail','pass','pass','pass','pass','fail','fail','fail','pass','fail','pass','fail','pass','pass'],"rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})

In [3]:
df2.info()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   20 non-null     object
 1   rno     20 non-null     object
dtypes: object(2)
memory usage: 452.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   results  20 non-null     object
 1   rno      20 non-null     object
dtypes: object(2)
memory usage: 452.0+ bytes

In [4]:
df4 = pd.merge(df2, df3, on='rno')

#filter the rows where results is pass
df5 = df4[df4['results']=='pass']

#print the names column
print(df5['names'])

2          raj
3        ajeet
5       ramesh
7     priyanka
8       suresh
9       ritesh
10      hitesh
14       raman
16        ravi
18      chavvi
19    himanshu
Name: names, dtype: object

In [5]:
#count of students(pass/fail)
df4['results'].value_counts()

pass    11
fail     9
Name: results, dtype: int64

In [6]:
#arrange student names alpha based
df4.sort_values('names')

       names rno results
3      ajeet   4    pass
15      aman  16    fail
18    chavvi  19    pass
12   chitesh  13    fail
19  himanshu  20    pass
1     hisham   2    fail
10    hitesh  11    pass
11     jatin  12    fail
6      priya   7    fail
7   priyanka   8    pass
2        raj   3    pass
14     raman  15    pass
5     ramesh   6    pass
16      ravi  17    pass
9     ritesh  10    pass
17    shravi  18    fail
4      sujit   5    fail
13     suman  14    fail
8     suresh   9    pass
0     vineet   1    fail